@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    line-height: 1.4;
    list-style-type: none;
    font-family: 'mulish';
    overflow-x: hidden;
}
.overall {
    margin: 5px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: #fff;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.head-mobile {
    display: none;
}
.head-desktop {
    background-color: #fff;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 96px;
    display: grid;
    grid-template-columns: auto 50% auto;
    align-items: center;
    justify-content: space-around;
}
.search {
    width: 100%;
}
.head-desktop .others {
    margin-right: 70px;
    font-size: 25px;
}
.others img {
    width: 35px;
    height: 35px;
}
/* Start of media query */
@media only screen and (max-width: 920px) {
    .head-desktop {
        display: none;
    }
    .head-mobile {
        background-color: #fff;
        box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.03);
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-columns: auto;
    }
    .head-mobile .logo {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        font-size: 3vh;
    }
    .head-mobile .user {
        margin-left: 30px;
    } 
    .section .scct {
        width: 97%;
        height: fit-content;
    }
    .section .section-head {
        width: 97%;
        height: fit-content;
        display: grid;
        grid-template-columns: auto;
        justify-items: start
    }
    .top-btn {
        align-items: center !important;
        width: 97%;
        height: 60px;
        display: grid;
        grid-template-columns: auto auto;
    }
    .sect-modal {
        width: 80% !important;
        height: fit-content;
        background-color: #fdfdfd;
        margin-left: 0 !important;
    }
    .arrow {
        width: 90%;
        margin-left: 10px !important;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 50%;
    }
}
/* End of media query */

.head-desktop .logo {
    width: 100%;
    align-items: center;
}
h1::first-letter {
    color: #ff4747;
    font-size: 35px;
}
.head-desktop .user {
    margin-left: 50px;
} 
input {
    width: 90%;
    height: 40px;
    padding-left: 40px;
}
input::placeholder {
    font-size: 18px;
}
.fa-search {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}
.section {
    width: 97%;
    height: fit-content;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.scct {
    width: 97%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shc {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: 20px;
    color: #ff4747;
}

.section-head {
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 50px;
}
.sect-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    display: none;
}
.sect-modal {
    width: 40%;
    height: fit-content;
    background-color: #fdfdfd;
    margin-left: 70px;
}
.pic {
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}
.close {
    float: right;
    margin: 8px;
    padding: 5px;
    font-size: 23px !important;
}
.close:hover {
    color: #ff4747;
}
.list {
    width: 95%;
    height: fit-content;
    margin-top: -41px;
    display: grid;
    grid-template-columns: auto;
    justify-items: end;
}
.arrow {
    width: 90%;
    margin-left: 25px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
}
.left, .right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.modal-card {
    width: inherit;
    height: fit-content;
}
.title {
    margin-left: 10px;
}
.details {
    font-weight: bold;
}
.container, .section2, .section3, .section4, .section5, .section6 {
    width: 97%;
    height: fit-content;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-left: 10px;
    column-gap: 1em;
}
 h2 {
    text-align: center;
}
.card {
    background-color: #fff;
    border: 2px solid #fdfdfd;
    border-radius: 4px;
    color: #333;
    width: 100%;
}
.card-img {
    width: 100%;
    height: 43vh;
}
img {
    width: 100%;
    height: 40vh;
}
.top-btn {
    align-items: flex-start;
    /* margin-top: 110px; */
    width: 97%;
    height: 60px;
    display: grid;
    grid-template-columns: auto auto;
}
button {
    background-color: #fff;
    opacity: 0.8;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #eee;
    font-size: 16px;
    padding: 3px;
}
#discount {
    opacity: 1;
    background-color: #fff;
    color: #ff4747;
    border: none;
    font-size: 14px;
    font-weight: 100;
}
.card-details {
    width: 100%;
    padding: 8px;
}
.card-price-details {
    width: 87%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.card-stock-details {
    margin-top: -8px;
    width: 87%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.price {
    color: #ff4747;
}
.fa-star {
    color: #ff6a6a;
}
span {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
